.about-me-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0 100px 0;
}

.about-me-content-container {
  width: 100%;
  height: auto;
}

.about-me-experience-container img {
  width: 30%;
  height: 30%;
  overflow: hidden;
  display: inline-block;
}



