.about-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-content-container {
  width: 100%;
  height: auto;
}

.about-experience-container img {
  width: 30%;
  height: 30%;
  overflow: hidden;
  display: inline-block;
}



