
.announcement-dashboard-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 10% 1%;

}

.announcement-dashboard-tabs-container {
  width: 90%;

 
}
