.extracurriculars-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.extrcurriculars-content-container {
  width: 70%;
  height: auto;
}

.extrcurriculars-experience-container img {
  width: 30%;
  height: 30%;
  overflow: hidden;
  display: inline-block;
}



