.gallery-overlay-container { 
  color: white;
  background-color: black;
  opacity: 70%;
  width: 100%;
  height: 100%;
}

.gallery-overlay-content {
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 15px 10px;
  font-size: 90%;
}